    {% include 'header.html' %}
    {% load static  %}
    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-20 pt-14" style="background-image: url({% static 'images/bg/bg1.jpg' %});">
        <div class="section-shape section-shape1 top-inherit bottom-0" style="background-image: url({% static 'images/shape8.png' %});"></div>
        <div class="breadcrumb-outer">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h1 class="mb-3">About Us</h1>
                    <nav aria-label="breadcrumb" class="d-block">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- about-us starts -->
    <section class="about-us pt-6" style="background-image:url({% static 'images/background_pattern.png' %}); background-position:bottom right;">
        <div class="container">
            <div class="about-image-box">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 ps-4">
                        <div class="about-content text-center text-lg-start">
                            <h4 class="theme d-inline-block mb-0">Get To Know Us</h4>
                            <h2 class="border-b mb-2 pb-1">{{company.about_us_page_heading_text}}</h2>
                            <p class="border-b mb-2 pb-2">{{company.about_us_page_content|safe}}</p>
                           
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4 pe-4">
                        <div class="about-image" style="animation:none; background:transparent;">
                            <img src="{% static 'images/travel.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <!-- Counter -->
                        <div class="counter-main w-75 float-start z-index3 position-relative">
                            <div class="counter p-4 pb-0 box-shadow bg-white rounded mt-minus">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                        <div class="counter-item border-end pe-4">
                                            <div class="counter-content">
                                                <h2 class="value mb-0 theme">{{company.years_of_experience}}</h2>
                                                <span class="m-0">Years Experiences</span>
                                            </div>
                                        </div>    
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                        <div class="counter-item border-end pe-4">
                                            <div class="counter-content">
                                                <h2 class="value mb-0 theme">{{company.tour_packages}}</h2>
                                                <span class="m-0">Tour Packages</span>
                                            </div>
                                        </div>    
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                        <div class="counter-item border-end pe-4">
                                            <div class="counter-content">
                                                <h2 class="value mb-0 theme">{{company.happy_customers}}</h2>
                                                <span class="m-0">Happy Customers</span>
                                            </div>
                                        </div>    
                                    </div>

                                    <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                                        <div class="counter-item">
                                            <div class="counter-content">
                                                <h2 class="value mb-0 theme">{{company.destination}}</h2>
                                                <span class="m-0">Destinations</span>
                                            </div>
                                        </div>    
                                    </div>


                                </div>
                            </div> 
                        </div>
                        <!-- End Counter -->
                    </div>
                </div>
            </div>
        </div>
        <div class="white-overlay"></div>
    </section>
    <!-- about-us ends -->

    <!-- about-us starts -->
    <section class="about-us pb-0">
        <div class="section-shape section-shape1" style="background-image: url(images/shape8.png);"></div>
        <div class="container">
            
            <div class="section-title mb-6 w-50 mx-auto text-center">
                <h4 class="mb-1 theme1">Core Features</h4>
                <h2 class="mb-1">Find <span class="theme">Travel Perfection</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>

            <!-- why us starts -->
            <div class="why-us">
                <div class="why-us-box">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                            <div class="why-us-item p-5 pt-6 pb-6 border rounded bg-white">
                                <div class="why-us-content">
                                    <div class="why-us-icon mb-1">
                                        <i class="icon-flag theme"></i>
                                    </div>
                                    <h4><a href="#">Tell Us What You want To Do</a></h4>
                                    <p class="mb-2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                            <div class="why-us-item p-5 pt-6 pb-6 border rounded bg-white">
                                <div class="why-us-content">
                                    <div class="why-us-icon mb-1">
                                        <i class="icon-location-pin theme"></i>
                                    </div>
                                    <h4><a href="#">Share Your Travel Locations</a></h4>
                                    <p class="mb-2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                            <div class="why-us-item p-5 pt-6 pb-6 border rounded bg-white">
                                <div class="why-us-content">
                                    <div class="why-us-icon mb-1">
                                        <i class="icon-directions theme"></i>
                                    </div>
                                    <h4><a href="#">Share Your Travel Preference</a></h4>
                                    <p class="mb-2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                            <div class="why-us-item p-5 pt-6 pb-6 border rounded bg-white">
                                <div class="why-us-content">
                                    <div class="why-us-icon mb-1">
                                        <i class="icon-compass theme"></i>
                                    </div>
                                    <h4><a href="#">Here 100% Trusted Tour Agency</a></h4>
                                    <p class="mb-2">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- why us ends -->
        </div>
    </section>
    <!-- about-us ends -->

    <!-- our teams starts -->
    <section class="our-team pb-0 pt-6">
        <div class="container">
              
            <div class="section-title mb-6 w-75 mx-auto text-center">
                <h4 class="mb-1 theme1">Our Team</h4>
                <h2 class="mb-1">Meet Our <span class="theme">Team</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>  
            <div class="team-main">
                <div class="row shop-slider">
                    {% for team in team %}
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="team-list rounded">
                            <div class="team-image">
                                <img src="{{team.image.url}}" alt="team">
                            </div>
                            <div class="team-content text-center p-3 bg-theme">
                               <h4 class="mb-0 white">{{team.name}}</h4>
                                <p class="mb-0 white">{{team.position}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- our teams Ends -->

    <!-- testomonial start -->
<section class="testimonial pt-9" style="background-image:url({% static 'images/testimonial.png' %})">
    <div class="container">
        <div class="section-title mb-6 text-center w-75 mx-auto">
            <h4 class="mb-1 theme1">Our Testimonails</h4>
            <h2 class="mb-1">Good Reviews By <span class="theme">Clients</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pe-4">
                <div class="testimonial-image">
                    <img src="{% static 'images/travel2.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-7 ps-4">
                <div class="row review-slider">
                    {% for testimonial in testimonial %}
                    <div class="col-sm-4 item">
                        <div class="testimonial-item1 rounded">
                            <div class="author-info d-flex align-items-center mb-4">
                                <img src="{{ testimonial.image.url}}" alt="">
                                <div class="author-title ms-3">
                                    <h5 class="m-0 theme">{{testimonial.name}}</h5>
                                    <span>{{testimonial.star}}/5 star rating</i></span>
                                </div>
                            </div>
                            <div class="details">
                                <p class="m-0"><i class="fa fa-quote-left me-2 fs-1"></i>{{testimonial.testimonial}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial ends -->



    <!-- partner starts -->
    <section class="our-partner pb-6 pt-6">
        <div class="container">
            <div class="section-title mb-6 w-75 mx-auto text-center">
                <h4 class="mb-1 theme1">Our Partners</h4>
                <h2 class="mb-1">Our Awesome <span class="theme">partners</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="row align-items-center partner-in partner-slider">
                <div class="col-md-3 col-sm-6">
                    {% for partner in partner %}
                    <div class="partner-item p-4 py-2 rounded bg-lgrey">
                        <img src="{{partner.logo.url}}" alt="{{partner.name}}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- partner ends -->


{% include 'footer.html' %}