{% include 'header.html' %}

    <!-- blog starts -->
    <section class="blog">
        <div class="container">
            <div class="listing-inner">
                <div class="row">
                    {% for blogs in blogs %}
                    <div class="col-lg-4 col-md-6">
                    <div class="trend-item box-shadow bg-white mb-4 rounded overflow-hidden">
                        <div class="trend-image">
                            <img src="{{blogs.image.url}}" alt="image">
                        </div>
                        <div class="trend-content-main p-4 pb-2">
                            <div class="trend-content">
                                <h4><a href="{% url 'blog_single' id=blogs.id %}">{{blogs.title}}</a></h4>
                                <p class="mb-3">
                                    {{blogs.blog|safe|truncatechars:80}}
                                </p>
                                <div class="entry-meta d-flex align-items-center justify-content-between">
                                    <div class="entry-button d-flex align-items-center mb-2">
                                        <a href="{% url 'blog_single' id=blogs.id %}" class="nir-btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </section>
    <!-- blog Ends -->  
{% include 'footer.html' %}