{% include 'header.html' %}
<!-- Breadcrumb -->
<div class="page-cover pt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4">
                <div class="cover-content text-center text-md-start">
                    <h1>{{blog.title}}</h1>
                    <div class="author-detail d-flex align-items-center">
                        <span class="me-3"><a href="#"><i class="fa fa-clock"></i> Posted On : {{blog.created}}</a></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="box-shadow p-3 rounded"><img src="{{blog.image.url}}" alt="Image" class="w-100 rounded"></div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Ends -->

<!-- blog starts -->
<section class="blog pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="blog-single">

                    <div class="blog-wrapper">

                        <div class="blog-content first-child-cap mb-4">
                            <p class="mb-3">{{blog.blog|safe}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- sidebar starts -->
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-sticky">
                    <div class="list-sidebar">
                        <div class="popular-post sidebar-item mb-4">
                            <div class="sidebar-tabs">
                                <div class="post-tabs">
                                    <!-- tab navs -->
                                    <ul class="nav nav-tabs nav-pills nav-fill" id="postsTab1" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button aria-selected="false" class="nav-link active" data-bs-target="#popular" data-bs-toggle="tab" id="popular-tab" role="tab" type="button">Recent blogs</button>
                                        </li>
                                    </ul>
                                    <!-- tab contents -->
                                    <div class="tab-content" id="postsTabContent1">
                                        <!-- popular posts -->
                                        <div aria-labelledby="popular-tab" class="tab-pane fade active show" id="popular" role="tabpanel">
                                                {% for blogs in blogs %}
                                            <article class="post mb-3 border-b pb-3">
                                                    <div class="s-content d-flex align-items-center justify-space-between">
                                                        <div class="sidebar-image w-25 me-3">
                                                            <a href=" {% url 'blog_single' id=blogs.id %}"><img src="{{blogs.image.url}}" alt=""></a>
                                                        </div>
                                                        <div class="content-list w-75">
                                                            <h5 class="mb-1"><a href="{% url 'blog_single' id=blogs.id %}">{{blogs.title}}</a></h5>
                                                            <div class="date">{{blogs.created}}</div>
                                                        </div>    
                                                    </div> 
                                            </article>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog Ends -->  
    <!-- partner starts -->
    <section class="our-partner pb-6 pt-6">
        <div class="container">
            <div class="section-title mb-6 w-75 mx-auto text-center">
                <h4 class="mb-1 theme1">Our Partners</h4>
                <h2 class="mb-1">Our Awesome <span class="theme">partners</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="row align-items-center partner-in partner-slider">
                <div class="col-md-3 col-sm-6">
                    {% for partner in partner %}
                    <div class="partner-item p-4 py-2 rounded bg-lgrey">
                        <img src="{{partner.logo.url}}" alt="{{partner.name}}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

<!-- partner ends -->
{% include 'footer.html' %}