{% include 'header.html' %}
{%load static %}
    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-20 pt-14" style="background-image: url({% static 'images/bg/bg1.jpg' %});">
        <div class="section-shape section-shape1 top-inherit bottom-0" style="background-image: url({% static 'images/shape8.png' %});"></div>
        <div class="breadcrumb-outer">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h1 class="mb-3">Contact Us</h1>
                    <nav aria-label="breadcrumb" class="d-block">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- contact starts -->
    <section class="contact-main pt-6 pb-60">
        <div class="container">
            <div class="contact-info-main mt-0">
                <div class="row">
                    <div class="col-lg-10 col-offset-lg-1 mx-auto">
                        <div class="contact-info bg-white">
                            <div class="contact-info-title text-center mb-4 px-5">
                                <h3 class="mb-1">INFORMATION ABOUT US</h3>
                                <p class="mb-0">Sagittis posuere id nam quis vestibulum vestibulum a facilisi at elit hendrerit scelerisque sodales nam dis orci.</p>
                            </div>
                            <div class="contact-info-content row mb-1">
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="info-item bg-lgrey px-4 py-5 border-all text-center rounded">
                                        <div class="info-icon mb-2">
                                            <i class="fa fa-map-marker-alt theme"></i>
                                        </div>
                                        <div class="info-content">
                                            <h3>Office Location</h3>
                                            <p class="m-0">Thamel, Kathmandu, Nepal</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="info-item bg-lgrey px-4 py-5 border-all text-center rounded">
                                        <div class="info-icon mb-2">
                                            <i class="fa fa-phone theme"></i>
                                        </div>
                                        <div class="info-content">
                                            <h3>Phone Number</h3>
                                            <p class="m-0">977-9874747545</p>
                                            <p class="m-0">977-452124515</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <div class="info-item bg-lgrey px-4 py-5 border-all text-center rounded">
                                        <div class="info-icon mb-2">
                                            <i class="fa fa-envelope theme"></i>
                                        </div>
                                        <div class="info-content">
                                            <h3>Email Address</h3>
                                            <p class="m-0">info@worldlinktreks@gmail.com</p>
                                            <p class="m-0">contact@worldlinktreks@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="contact-form1" class="contact-form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="map rounded overflow-hiddenb rounded mb-md-4">
                                            <div style="width: 100%">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.9841084714453!2d85.3099379154156!3d27.717776931639673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb194d17f72fdd%3A0xbd467eb25a0822b7!2sOldlink%20tours!5e0!3m2!1sen!2snp!4v1670924946894!5m2!1sen!2snp" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        
                                        <div id="contactform-error-msg"></div>

                                        <form  action="{% url 'contact_us' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group mb-2">
                                                <input type="text" name="name" class="form-control" id="fullname" placeholder="Full Name" required>
                                            </div>
                                            <div class="form-group mb-2">
                                                <input type="text" name="email"  class="form-control" id="email" required placeholder="Email">
                                            </div>
                                            <div class="form-group mb-2">
                                                <input type="text" name="contact" class="form-control" id="phnumber" required placeholder="Phone">
                                            </div>
                                            <div class="form-group mb-2">
                                                <input type="text" name="subject" class="form-control" required placeholder="Subject">
                                            </div>
                                            <div class="textarea mb-2">
                                                <textarea name="message" required placeholder="Enter a message"></textarea>
                                            </div>
                                            <div class="comment-btn text-center">
                                                <input type="submit" class="nir-btn" value="Send Message" id="smessage">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact Ends -->
{% include 'footer.html' %}