{% include 'header.html' %}
<div class="traveltour-page-title-wrap  traveltour-style-large traveltour-center-align">
    <div class="traveltour-header-transparent-substitute"></div>
    <div class="traveltour-page-title-overlay"></div>
    <div class="traveltour-page-title-container traveltour-container">
        <div class="traveltour-page-title-content traveltour-item-pdlr">
            <h1 class="traveltour-page-title">Destinations</h1>
            <div class="traveltour-page-caption">Explore Tours By Destinations</div>
        </div>
    </div>
</div>
<div class="traveltour-page-wrapper" id="traveltour-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-section">
            <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                <div class="gdlr-core-pbf-element">
                    <div class="tourmaster-tour-category clearfix ">
                        {% for destinations in destinations %}
                        <div class="tourmaster-tour-category-grid tourmaster-item-list  tourmaster-item-pdlr tourmaster-item-mgb tourmaster-column-20 tourmaster-with-thumbnail">
                            <div class="tourmaster-tour-category-item-wrap">
                                <div class="tourmaster-tour-category-thumbnail tourmaster-media-image"><img src="{{destinations.image.url}}" alt="" width="800" height="960" /></div>
                                <div class="tourmaster-tour-category-overlay"></div>
                                <div class="tourmaster-tour-category-overlay-front"></div>
                                <div class="tourmaster-tour-category-head">
                                    <div class="tourmaster-tour-category-head-display clearfix">
                                        <h3 class="tourmaster-tour-category-title"><i class="icon_pin_alt" ></i>{{destinations.location}}</h3>
                                    </div>
                                    <div class="tourmaster-tour-category-head-animate"><a class="tourmaster-tour-category-head-link" href="../tour-destination/south-america/index.html">View all tours</a>
                                        <div class="tourmaster-tour-category-head-divider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}