{% include 'header.html' %}
{% load static  %}
    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-20 pt-14" style="background-image: url({% static 'images/bg/bg1.jpg' %});">
        <div class="section-shape section-shape1 top-inherit bottom-0" style="background-image: url({% static 'images/shape8.png' %});"></div>
        <div class="breadcrumb-outer">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h1 class="mb-3">Destination </h1>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- top Destination starts -->
    <section class="trending pb-0 pt-6">
        <div class="container">
            <div class="section-title mb-6 w-50 mx-auto text-center">
                <h4 class="mb-1 theme1">Top Destinations</h4>
                <h2 class="mb-1">Explore <span class="theme">Top Destinations</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="row align-items-center">
                {% for destination in destination %}
                <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
                    <div class="trend-item1">
                        <div class="trend-image position-relative rounded">
                            <img src="{{destination.image.url}}" alt="image">
                            <div class="trend-content d-flex align-items-center justify-content-between position-absolute bottom-0 p-4 w-100 z-index">
                                <div class="trend-content-title">
                                    <h5 class="mb-0"><a href="#" class="theme1">{{destination.location}}</a></h5>
                                    <h5 class="mb-0"><a href=" {% url 'destination_filter' id=destination.id %} " class="theme1">{{destination.location}}</a></h5>
                                    <h3 class="mb-0 white"></h3>
                                </div>
                            </div>
                            <div class="color-overlay"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- top Destination ends -->
{% include 'footer.html' %}