{% include 'header.html' %}
{% load static %}
<div class="traveltour-page-wrapper" id="traveltour-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper " id="div_493c_0">
                        <div class="gdlr-core-pbf-background-wrap" id="div_493c_1"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-revolution-slider-item gdlr-core-item-pdlr gdlr-core-item-pdb "
                                        id="div_493c_2">
                                        <link href="https://fonts.googleapis.com/css?family=Roboto:900%2C700"
                                            rel="stylesheet" property="stylesheet" type="text/css" media="all">
                                        <div id="rev_slider_1_1_wrapper"
                                            class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery">
                                            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner"
                                                style="display:none;" data-version="5.4.8">
                                                <ul>
                                                    {% for slider in slider %}
                                                    <li data-index="rs-{{ forloop.counter }}" data-transition="fade"
                                                        data-slotamount="default" data-hideafterloop="0"
                                                        data-hideslideonmobile="off" data-easein="default"
                                                        data-easeout="default" data-masterspeed="300"
                                                        data-thumb="upload/slider-1-100x50.jpg" data-rotate="0"
                                                        data-saveperformance="off" data-title="Slide" data-param1=""
                                                        data-param2="" data-param3="" data-param4="" data-param5=""
                                                        data-param6="" data-param7="" data-param8="" data-param9=""
                                                        data-param10="" data-description=""> <img
                                                            src="{{slider.image.url}}" alt="" title="slider-1"
                                                            width="1800" height="844" data-bgposition="center center"
                                                            data-bgfit="cover" data-bgrepeat="no-repeat"
                                                            class="rev-slidebg" data-no-retina>
                                                        <div class="tp-caption   tp-resizeme" id="slide-1-layer-1"
                                                            data-x="89" data-y="center" data-voffset="10"
                                                            data-width="['auto']" data-height="['auto']"
                                                            data-type="text" data-responsive_offset="on"
                                                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":450,"ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                                            data-textAlign="['left','left','left','left']"
                                                            data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                                            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                                            style="z-index: 5; white-space: nowrap; font-size: 81px;  font-weight: 600; color: rgba(255,255,255,1);font-family:Poppins;">
                                                            {{slider.main_text}}</div>
                                                        <div class="tp-caption   tp-resizeme" id="slide-1-layer-2"
                                                            data-x="90" data-y="center" data-voffset="92"
                                                            data-width="['auto']" data-height="['auto']"
                                                            data-type="text" data-responsive_offset="on"
                                                            data-frames='[{"from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":690,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                                            data-textAlign="['left','left','left','left']"
                                                            data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                                            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                                            style="z-index: 6; white-space: nowrap; font-size: 45px;  font-weight: 600; color: rgba(186,217,255,1);font-family:Poppins;">
                                                            {{slider.second_text}}</div>
                                                        <div class="tp-caption   tp-resizeme" id="slide-1-layer-3"
                                                            data-x="92" data-y="center" data-voffset="138"
                                                            data-width="['auto']" data-height="['auto']"
                                                            data-visibility="['on','on','on','off']" data-type="text"
                                                            data-responsive_offset="on"
                                                            data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":880,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                                            data-textAlign="['left','left','left','left']"
                                                            data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                                            data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                                            style="z-index: 7; white-space: nowrap; font-size: 18px;  font-weight: 400; color: rgba(218,229,255,1);font-family:Poppins;">
                                                            {{slider.third_text}}</div>

                                                            {% if slider.custom_url %}
                                                            <a href="{{slider.custom_url}}" target="_blank"><div class="tp-caption rev-btn  tp-resizeme"
                                                            id="slide-1-layer-4" data-x="94" data-y="center"
                                                            data-voffset="200" data-width="['auto']"
                                                            data-height="['auto']" data-type="button"
                                                            data-responsive_offset="on"
                                                            data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1060,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(70,123,231,1);"}]'
                                                            data-textAlign="['left','left','left','left']"
                                                            data-paddingtop="[20,20,20,20]"
                                                            data-paddingright="[32,32,32,32]"
                                                            data-paddingbottom="[20,20,20,20]"
                                                            data-paddingleft="[32,32,32,32]"
                                                            style="z-index: 8; white-space: nowrap; font-size: 13px; line-height: 12px; font-weight: 900; color: rgba(255,255,255,1);font-family:Roboto;text-transform:uppercase;background-color:rgba(70,146,231,1);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                                                            Learn More</div></a>
                                                            {% else %}
                                                            <a href="https://www.instagram.com/" target="_blank"><div class="tp-caption rev-btn  tp-resizeme"
                                                            id="slide-1-layer-4" data-x="94" data-y="center"
                                                            data-voffset="200" data-width="['auto']"
                                                            data-height="['auto']" data-type="button"
                                                            data-responsive_offset="on"
                                                            data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1060,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(70,123,231,1);"}]'
                                                            data-textAlign="['left','left','left','left']"
                                                            data-paddingtop="[20,20,20,20]"
                                                            data-paddingright="[32,32,32,32]"
                                                            data-paddingbottom="[20,20,20,20]"
                                                            data-paddingleft="[32,32,32,32]"
                                                            style="z-index: 8; white-space: nowrap; font-size: 13px; line-height: 12px; font-weight: 900; color: rgba(255,255,255,1);font-family:Roboto;text-transform:uppercase;background-color:rgba(70,146,231,1);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                                                            Learn More</div></a>
                                                            {% endif %}
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="tp-bannertimer tp-bottom"
                                                    style="visibility: hidden !important;"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gdlr-core-pbf-wrapper " id="div_0576_0">
                        <div class="gdlr-core-pbf-background-wrap" id="div_0576_1"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-15 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr"
                                                    id="div_0576_2">
                                                    <div class="gdlr-core-column-service-media gdlr-core-media-image"
                                                        id="div_0576_3"><img src="{% static 'upload/icon-13.png' %}" alt="" width="44"
                                                            height="44" /></div>
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap"
                                                            id="div_0576_4">
                                                            <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                                id="h3_0576_0">500+ Destinations</h3>
                                                        </div>
                                                        <div class="gdlr-core-column-service-content" id="div_0576_5">
                                                            <p>Nullam quis risus eget urna mollis ornare vel eu leo.
                                                                Nullam id.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-15">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr"
                                                    id="div_0576_6">
                                                    <div class="gdlr-core-column-service-media gdlr-core-media-image"
                                                        id="div_0576_7"><img src="{% static 'upload/icon-2.png' %}" alt="" width="41"
                                                            height="49" /></div>
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap"
                                                            id="div_0576_8">
                                                            <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                                id="h3_0576_1">Best Price In The Industry</h3>
                                                        </div>
                                                        <div class="gdlr-core-column-service-content" id="div_0576_9">
                                                            <p>Nullam quis risus eget urna mollis ornare vel eu leo.
                                                                Nullam id.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-15">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr"
                                                    id="div_0576_10">
                                                    <div class="gdlr-core-column-service-media gdlr-core-media-image"
                                                        id="div_0576_11"><img src="{% static 'upload/icon-14.png' %}" alt="" width="35"
                                                            height="45" /></div>
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap"
                                                            id="div_0576_12">
                                                            <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                                id="h3_0576_2">Great Customer Support</h3>
                                                        </div>
                                                        <div class="gdlr-core-column-service-content" id="div_0576_13">
                                                            <p>Nullam quis risus eget urna mollis ornare vel eu leo.
                                                                Nullam id.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-15">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr"
                                                    id="div_0576_14">
                                                    <div class="gdlr-core-column-service-media gdlr-core-media-image"
                                                        id="div_0576_15"><img src="{% static 'upload/icon-4.png' %}" alt="" width="35"
                                                            height="38" /></div>
                                                    <div class="gdlr-core-column-service-content-wrapper">
                                                        <div class="gdlr-core-column-service-title-wrap"
                                                            id="div_0576_16">
                                                            <h3 class="gdlr-core-column-service-title gdlr-core-skin-title"
                                                                id="h3_0576_3">Super Fast Booking</h3>
                                                        </div>
                                                        <div class="gdlr-core-column-service-content" id="div_0576_17">
                                                            <p>Nullam quis risus eget urna mollis ornare vel eu leo.
                                                                Nullam id.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %} destination  {% endcomment %}
                    <div class="gdlr-core-pbf-wrapper " id="div_fd3f_21">
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_fd3f_22">
                                        <div class="gdlr-core-title-item-title-wrap">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" id="h3_fd3f_5"><span class="gdlr-core-title-item-left-icon" id="span_fd3f_0"  ><i class="icon_pin_alt" id="i_fd3f_0"  ></i></span>Top Destinations<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" id="div_fd3f_23">
                                        <div class="gdlr-core-text-box-item-content">
                                            <p><a href="../destinations/index.html">View All Destinations</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="tourmaster-tour-category clearfix ">
                                        {% for destination in destination %}
                                        <div class="tourmaster-tour-category-grid tourmaster-item-list  tourmaster-item-pdlr tourmaster-item-mgb tourmaster-column-15 tourmaster-with-thumbnail">
                                            <div class="tourmaster-tour-category-item-wrap">
                                                <div class="tourmaster-tour-category-thumbnail tourmaster-media-image"><img src="{{destination.image.url}}" alt="" width="800" height="960" /></div>
                                                <div class="tourmaster-tour-category-overlay"></div>
                                                <div class="tourmaster-tour-category-overlay-front"></div>
                                                <div class="tourmaster-tour-category-head">
                                                    <div class="tourmaster-tour-category-head-display clearfix">
                                                        <h3 class="tourmaster-tour-category-title"><i class="icon_pin_alt" ></i>{{destination.location}}</h3>
                                                        <div class="tourmaster-tour-category-count">3 tours</div>
                                                    </div>
                                                    <div class="tourmaster-tour-category-head-animate"><a class="tourmaster-tour-category-head-link" href="../tour-destination/south-america/index.html">View all tours</a>
                                                        <div class="tourmaster-tour-category-head-divider"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>{% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% comment %} tour  {% endcomment %}
                    <div class="gdlr-core-pbf-wrapper " id="div_fd3f_24">
                        <div class="gdlr-core-pbf-background-wrap">
                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" id="div_fd3f_25" data-parallax-speed="0.05"></div>
                        </div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_fd3f_26">
                                        <div class="gdlr-core-title-item-title-wrap">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" id="h3_fd3f_6"><span class="gdlr-core-title-item-left-icon" id="span_fd3f_1"  ><i class="icon_pin_alt" id="i_fd3f_1"  ></i></span>Popular Tour Packages<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" id="div_fd3f_27">
                                        <div class="gdlr-core-text-box-item-content">
                                            <p><a href="../tour-side-thumbnail-with-frame-right-sidebar/index.html">View All Tours</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="tourmaster-tour-item clearfix  tourmaster-tour-item-style-grid tourmaster-item-pdlr tourmaster-tour-item-column-3" id="div_fd3f_28">
                                        <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 tourmaster-nav-style-rect" data-type="carousel" data-column="3" data-nav="navigation" data-nav-parent="tourmaster-tour-item" data-vcenter-nav="1">
                                            <ul class="slides">
                                                {% for tour in tour %}
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="tourmaster-tour-grid tourmaster-tour-frame tourmaster-price-right-title">
                                                        <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                                            <a href="../tour/africa-amazing-african-safari/index.html"><img src="{{tour.featured_image.url}}" alt="" width="700" height="450" /></a>
                                                        </div>
                                                        <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                                            <h3 class="tourmaster-tour-title gdlr-core-skin-title"><a href="../tour/africa-amazing-african-safari/index.html" >{{tour.tour_name}}</a></h3>
                                                            <div class="tourmaster-tour-price-wrap "><span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">{{tour.price}}</span></span>
                                                            </div>
                                                            <div class="tourmaster-tour-info-wrap clearfix">
                                                                <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>{{tour.time}}</div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% comment %} categories {% endcomment %}
                    <div class="gdlr-core-pbf-wrapper " id="div_fd3f_35">
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_fd3f_36">
                                        <div class="gdlr-core-title-item-title-wrap">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" id="h3_fd3f_7"><span class="gdlr-core-title-item-left-icon" id="span_fd3f_2"  ><i class="fa fa-sliders" id="i_fd3f_2"  ></i></span>Browse Tours By Category<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix ">
                                        <ul>
                                            {% for category in category %}
                                            <li class=" gdlr-core-skin-divider gdlr-core-column-15 gdlr-core-column-first" id="li_fd3f_0">
                                                <a href="../tour-activity/city-tours/index.html">
                                                    <div class="gdlr-core-icon-list-content-wrap"><span class="gdlr-core-icon-list-content" id="span_fd3f_3">{{category.category}}</span>
                                                </div></a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% comment %} banner {% endcomment %}
                    <div class="gdlr-core-pbf-wrapper " id="div_b937_32" data-skin="Testimonial">
                        <div class="gdlr-core-pbf-background-wrap">
                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" id="div_b937_33" data-parallax-speed="0"></div>
                        </div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container-custom" id="div_b937_34">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-testimonial-item gdlr-core-item-pdb clearfix  gdlr-core-testimonial-style-center gdlr-core-item-pdlr">
                                        <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 gdlr-core-nav-style-middle-large" data-type="carousel" data-column="1" data-nav="bullet" data-vcenter-nav="1">
                                            <div class="gdlr-core-block-item-title-wrap  gdlr-core-center-align gdlr-core-item-mglr">
                                                <div class="gdlr-core-block-item-title-inner">
                                                    <h3 class="gdlr-core-block-item-title" id="h3_b937_21"><i class="fa fa-comments-o"  ></i>Customer Reviews</h3></div>
                                                <div class="gdlr-core-flexslider-nav gdlr-core-rectangle-style gdlr-core-absolute-center gdlr-core-right"></div>
                                            </div>
                                            <ul class="slides">
                                                {% for testimonial in testimonial %}
                                                <li class="gdlr-core-item-mglr">
                                                    <div class="gdlr-core-testimonial clearfix">
                                                        <div class="gdlr-core-testimonial-content-wrap">
                                                            <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" id="div_b937_35">
                                                                <p>{{testimonial.testimonial}}</p>
                                                            </div>
                                                            <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                                <div class="gdlr-core-testimonial-author-image gdlr-core-media-image"><img src="{{testimonial.image.url}}" alt="" width="150" height="150" /></div>
                                                                <div class="gdlr-core-testimonial-author-content">
                                                                    <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title"> {{testimonial.name}} </div>
                                                                    <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption"><span class="gdlr-core-rating">
                                                                        {% for i in "x"|rjust:testimonial.star|make_list %}
                                                                        <i class="fa fa-star" ></i>
                                                                       {% endfor %}
                                                                        
                                                                    </span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %} blogs  {% endcomment %}
                    <div class="gdlr-core-pbf-wrapper " id="div_29f0_38">
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_29f0_39">
                                        <div class="gdlr-core-title-item-title-wrap">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" id="h3_29f0_5"><span class="gdlr-core-title-item-left-icon" id="span_29f0_12"  ><i class="icon_lightbulb_alt" id="i_29f0_8"  ></i></span>Travel Articles<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider" ></span></h3><a href="#" target="_self" class="gdlr-core-title-item-link"><span class="gdlr-core-separator" >/</span>Read All Articles</a></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-image" id="div_29f0_40">
                                        <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                            {% for blog in blog %}
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15 gdlr-core-column-first">
                                                <div class="gdlr-core-blog-modern  gdlr-core-with-image gdlr-core-hover-overlay-content gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                    <div class="gdlr-core-blog-modern-inner">
                                                        <div class="gdlr-core-blog-thumbnail gdlr-core-media-image"><img src="{{blog.image.url}}" alt="" width="700" height="660" /></div>
                                                        <div class="gdlr-core-blog-modern-content  gdlr-core-center-align" id="div_29f0_41">
                                                            <h3 class="gdlr-core-blog-title gdlr-core-skin-title" id="h3_29f0_6"><a href="#" >{{blog.title}}</a></h3>
                                                            <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head" ><i class="icon_clock_alt" ></i></span><a href="#">June 6, 2016</a></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>







                </div>
            </div>
{% include 'footer.html' %}