{% include 'header.html' %}
{% load static %}
 <!-- BreadCrumb Starts -->  
 <section class="breadcrumb-main pb-20 pt-14" style="background-image: url({% static 'images/bg/bg1.jpg' %});">
    <div class="section-shape section-shape1 top-inherit bottom-0" style="background-image: url({% static 'images/shape8.png' %});"></div>
    <div class="breadcrumb-outer">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h1 class="mb-3">Tour & Trekking Packages</h1>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends --> 

<!-- top Destination starts -->
<section class="trending pt-6 pb-0 bg-lgrey">
    <div class="container">
        <div class="row">

            {% for tours in tours %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="trend-item rounded box-shadow">
                    <div class="trend-image position-relative">
                        <img src="{{tours.featured_image.url}}" alt="tour image" class="">
                        <div class="color-overlay"></div>
                    </div>
                    <div class="trend-content p-4 pt-5 position-relative">
                        <div class="trend-meta bg-theme white px-3 py-2 rounded">
                            <div class="entry-author">
                                <i class="icon-calendar"></i>
                                <span class="fw-bold"> {{tours.time}} Days Tours</span>
                            </div>
                        </div>
                        <h5 class="theme mb-1"><i class="flaticon-location-pin"></i> {{tours.tour_location}}</h5>
                        <h3 class="mb-1"><a href="{% url 'tour_single' id=tours.id %}">{{tours.tour_name}}</a></h3>
                        <p class=" border-b pb-2 mb-2">{{tours.tour_details|truncatechars:70|safe}}</p>
                        <div class="entry-meta">
                            <div class="entry-author d-flex align-items-center">
                                <p class="mb-0"><span class="theme fw-bold fs-5"> {{tours.price}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            


            <div class="pagination-main text-center">
                <ul class="pagination">
                    {% if tours.has_previous %}
                    <li><a href=""?page={{tours.previous_page_number }}""><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                    {% endif %}

                    {% for num in tours.paginator.page_range %}
                    {%if tours.number == num %}
                    <li class="active"><a href="?page={{ num }}">1</a></li>
                    {% elif num > tours.number|add:'-5' and num < tours.number|add:'5' %}
                    <li><a href="?page={{ num }}"> {{num}} </a></li>
                    {% endif %} {% endfor %} 
                    
                    {% if tours.has_next %}
                    <li> <a href="?page={{ tours.next_page_number }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                    {% endif %}
                </ul>
            </div>


        </div>
    </div>
</section>
<!-- top Destination ends -->
    <!-- partner starts -->
    <section class="our-partner pb-6 pt-6">
        <div class="container">
            <div class="section-title mb-6 w-75 mx-auto text-center">
                <h4 class="mb-1 theme1">Our Partners</h4>
                <h2 class="mb-1">Our Awesome <span class="theme">partners</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="row align-items-center partner-in partner-slider">
                {% for partner in partner %}
                <div class="col-md-3 col-sm-6">
                    
                    <div class="partner-item p-4 py-2 rounded bg-lgrey">
                        <img src="{{partner.logo.url}}" alt="{{partner.name}}">
                    </div>
                   
                </div>
                 {% endfor %}
            </div>
        </div>
    </section>
    <!-- partner ends -->
{% include 'footer.html' %}