{% load static %}
{% include 'header.html' %}


    <!-- top Destination starts -->
    <section class="trending pt-6 pb-0 bg-lgrey overflow-hidden">

        <div class="container">
            <div class="single-content">
                <div id="highlight">
                    <div class="single-full-title border-b mb-2 pb-2">
                        <div class="single-title text-center">
                            <h2 class="mb-1">{{tour.tour_name}}</h2>
                        </div>
                    </div>

                    <div class="description-images mb-4">
                        <div class="row">
                            {% if tour.image1 %}
                            <div class="col"><img src="{{tour.image1.url}}" alt="" class="rounded"></div>
                            {% endif %}
                            {% if tour.image2 %}
                            <div class="col"><img src="{{tour.image2.url}}" alt="" class="rounded"></div>
                            {% endif %}
                            {% if tour.image3 %}
                            <div class="col"><img src="{{tour.image3.url}}" alt="" class="rounded"></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tour-includes mb-4">
                        <table>
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-clock-o pink mr-1" aria-hidden="true"></i> Duration:{{tour.time}}</td>
                                    <td><i class="fa fa-group pink mr-1" aria-hidden="true"></i> Max People : {{tour.max_people}}</td>
                                    <td><i class="fa fa-calendar pink mr-1" aria-hidden="true"></i> Best Season: {{tour.availability}}</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-user pink mr-1" aria-hidden="true"></i> Min Age : {{tour.min_age}}</td>
                                    <td><i class="fa fa-map-signs pink mr-1" aria-hidden="true"></i> Pickup : {{tour.tour_location}}</td>
                                    <td><i class="fa fa-file-alt pink mr-1" aria-hidden="true"></i> Drop off - {{tour.tour_location}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="description mb-2">
                        <h4>Description</h4>
                        <p>{{tour.tour_details|safe}}</p>
                    </div>

                    


                    <div class="description mb-4">
                        <h4>Itinerary</h4>
                        <p>{{tour.itinerary|safe}}</p>               
                    </div>
                </div>

            </div>
        </div>
    </section>


        <section class="testimonial pt-9" style="background-image:url({% static 'images/testimonial.png' %})">
            <div class="container">
                <div class="section-title mb-6 text-center w-75 mx-auto">
                    <h2 class="mb-1">Book Your <span class="theme">Trip</span></h2>
                    <p>You will receive a confirmation email/call from Worldlink tour team.
                    </p>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-5 pe-4">
                        <div class="testimonial-image">
                            <img src="{{tour.featured_image.url}}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 ps-4">
                        <div class="row review-slider">
                            
                            <form method="post" action="{% url 'book_trip' id=tour.id %}" name="contactform" id="contactform3">
                                <h3 class="text-center border-b pb-2">Book This Trip</h3>
                                {% csrf_token %}
                                <div class="form-group mb-2">
                                    <input type="text" name="name" class="form-control" id="fullname" placeholder="Name">
                                </div>

                                <div class="form-group mb-2">
                                    <input type="text" name="email" class="form-control" id="email" placeholder="Email">
                                </div>

                                <div class="form-group mb-2">
                                    <input type="text" name="contact" class="form-control" id="fullname" placeholder="Contact Number">
                                </div>

                                <div class="form-group mb-2">
                                    <input type="text" name="no_of_travellers" class="form-control" id="password" placeholder="No of People Travelling">
                                </div>

                                <div class="comment-btn mb-2 pb-2 text-center border-b">
                                    <input type="submit" class="nir-btn" id="submit1" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  
{% include 'footer.html' %}