{% load static %}
{% include 'header.html' %}
    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-20 pt-14" style="background-image: url({{tour.featured_image.url}});">
        <div class="section-shape section-shape1 top-inherit bottom-0" style="background-image: url(images/shape8.png);"></div>
        <div class="breadcrumb-outer">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h1 class="mb-3">Tour Details</h1>
                    <nav aria-label="breadcrumb" class="d-block">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tour Details</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- top Destination starts -->
    <section class="trending pt-6 pb-0 bg-lgrey overflow-hidden">

        <div class="container">
            <div class="single-content">
                <div id="highlight">
                    <div class="single-full-title border-b mb-2 pb-2">
                        <div class="single-title text-center">
                            <h2 class="mb-1">{{tour.tour_name}}</h2>
                        </div>
                    </div>

                    <div class="description-images mb-4">
                        <div class="row">
                            {% if tour.image1 %}
                            <div class="col"><img src="{{tour.image1.url}}" alt="" class="rounded"></div>
                            {% endif %}
                            {% if tour.image2 %}
                            <div class="col"><img src="{{tour.image2.url}}" alt="" class="rounded"></div>
                            {% endif %}
                            {% if tour.image3 %}
                            <div class="col"><img src="{{tour.image3.url}}" alt="" class="rounded"></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tour-includes mb-4">
                        <table>
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-clock-o pink mr-1" aria-hidden="true"></i> Duration:{{tour.time}}</td>
                                    <td><i class="fa fa-group pink mr-1" aria-hidden="true"></i> Max People : {{tour.max_people}}</td>
                                    <td><i class="fa fa-calendar pink mr-1" aria-hidden="true"></i> Best Season: {{tour.availability}}</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-user pink mr-1" aria-hidden="true"></i> Min Age : {{tour.min_age}}</td>
                                    <td><i class="fa fa-map-signs pink mr-1" aria-hidden="true"></i> Pickup : {{tour.tour_location}}</td>
                                    <td><i class="fa fa-file-alt pink mr-1" aria-hidden="true"></i> Drop off - {{tour.tour_location}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="description mb-2">
                        <h4>Description</h4>
                        <p>{{tour.tour_details|safe}}</p>
                    </div>

                    


                    <div class="description mb-4">
                        <h4>What to Expect</h4>
                        <p>{{tour.itinerary|safe}}</p>               
                    </div>
                </div>

            </div>
        </div>
    </section>
  
{% include 'footer.html' %}